__pycache__
*.pyc
build/
*_pyx.so
*_pyx.c
*_pyx.h
*_pyx_api.h
*_pyx.cpython-*.so
*_c.cpython-*.so
*_c.so
*_pyx.cpython-*.c
*~
/target
/brz
/Cargo.lock
*.cpython-*.so
.testrepository
selftest.log
doc/en/user-reference/*.txt
doc/en/_build/
doc/developers/_build/
.*.swp
doc/developers/Makefile
doc/developers/make.bat
