language: python
sudo: false
cache: pip

python:
  - 3.5
  - 3.6
  - 3.6-dev

env:
  - SELFTEST_OPTIONS="--load-list python3.passing"
    EXTRA_MAKE_ARGS=""

matrix:
  include:
    - python: 2.7
      env: SELFTEST_OPTIONS="--coverage"
           EXTRA_MAKE_ARGS="extensions"

script:
  - make docs $EXTRA_MAKE_ARGS
  - BRZ_PLUGIN_PATH=-site:-user python -Werror -Wignore::ImportWarning -Wignore::PendingDeprecationWarning -Wignore::DeprecationWarning ./brz selftest --parallel=fork $SELFTEST_OPTIONS

install:
  - sudo apt install python-all-dev python3-all-dev subunit
  - travis_retry pip install -U setuptools
  - travis_retry pip install -U pip coverage codecov flake8 testtools paramiko fastimport configobj cython testscenarios six docutils python-subunit $TEST_REQUIRE

after_success:
  - codecov
