Source: bzr
Section: devel
Priority: optional
Maintainer: Debian Bazaar Maintainers <pkg-bazaar-maint@lists.alioth.debian.org>
Uploaders: Rob Weir <rweir@ertius.org>, Jeff Bailey <jbailey@raspberryginger.com>, Andres Salomon <dilinger@debian.org>, Adeodato Simó <dato@net.com.org.es>, Wouter van Heyst <larstiq@larstiq.dyndns.org>, Reinhard Tartler <siretart@tauware.de>
Build-Depends: debhelper (>= 5.0.38), cdbs (>= 0.4.43), quilt, python (>= 2.4), python-central (>= 0.5.6)
Build-Depends-Indep: python-docutils (>= 0.4-2), python-celementtree (>= 1.0.5-7), python-medusa, python-paramiko
Standards-Version: 3.7.2
XS-Python-Version: >= 2.4
XS-VCS-Bzr: http://bzr.debian.org/pkg-bazaar/bzr/unstable

Package: bzr
Architecture: all
Depends: ${python:Depends}, python-celementtree (>= 1.0.5-7)
Recommends: python-paramiko, python-pycurl
Suggests: libxml2-utils
Conflicts: bzr-doc
XB-Python-Version: ${python:Versions}
Description: Bazaar, the next-generation distributed version control system
 Open source distributed version control system that is powerful, friendly,
 and scalable.
 .
 It manages trees of files and subdirectories. In particular, it records
 revisions of trees, representing their state at a particular point in time,
 and information about those revisions and their relationships. Recording and
 retrieving tree revisions is useful in several ways if you are writing
 software or documents or doing similar creative work.
