#!/usr/bin/make -f

DEB_PYTHON_SYSTEM = pycentral

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_PYTHON_INSTALL_ARGS_ALL += --install-data=/usr/share

clean::
	-rm -rf build test*.tmp doc/*.html
	find . -name "*.pyc" -print0 | xargs -0 rm -f
	rm -f bzr.1
	rm -f debian/stamp-doc

ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
common-post-build-indep::	
	./bzr selftest --no-plugins
endif

build/bzr:: debian/stamp-doc

debian/stamp-doc:
	for f in doc/*.txt; do h=$$(echo $$f | sed 's/txt$$/html/'); rst2html $$f > $$h; done
	touch $@

install/bzr::
	# we can't delete the tests/ subdirectory due to an upstream
	# bug; #368760.
	#rm -rf $(DEB_DESTDIR)/usr/lib/python$(DEB_PYTHON_COMPILE_VERSION)/site-packages/bzrlib/tests
