#!/usr/bin/make -f

DEB_PYTHON_SYSTEM = pycentral

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_PYTHON_INSTALL_ARGS_ALL += --install-data=/usr/share
DEB_PYTHON_BUILD_ARGS += --executable "/usr/bin/env python"

clean::
	-rm -rf build test*.tmp doc/bzr_man.txt
	find doc -name "*.html" -print0 | xargs -r0 rm -f
	find . -name "*.pyc" -print0 | xargs -r0 rm -f
	rm -f bzr.1 man1/bzr.1
	rm -f debian/stamp-doc
	rm -f .bzr.log

ifneq (,$(findstring test,$(DEB_BUILD_OPTIONS)))
common-post-build-indep::
	./bzr selftest --no-plugins
endif

build/bzr:: debian/stamp-doc

debian/stamp-doc:
	make docs
	touch $@
