************
Requirements
************

gcc requirements
----------------

* http://lists.gnu.org/archive/html/gnu-arch-users/2004-06/msg00082.html
* http://gcc.gnu.org/ml/gcc/2004-06/msg00264.html

Some of these are:

* Must preserve existing history from CVS; must be able to export back
  out to CVS in case they change their mind.

* Support a single central blessed version.

* Cheap branches and tagging.

* Handle repeated merges; remember the last time something was merged.

* Easy cloning.

* Copy a named patch set (one or more changes) onto a particular
  branch.

* Unix, Windows, Mac.

* What patches changed a particular symbol?

* annotate function that shows deleted lines.

* Reliable backups.  (bzr can do this simply by cloning, then
  mirror-sync.)

* Scale to enormously wide and long history.

* Easy to get back to last-known-good state.



kernel
------

 * http://www.kerneltraffic.org/kernel-traffic/kt20030323_210.txt

   Discussion of BitKeeper, strengths and weaknesses, and
   interoperation tools.
