name: Python package

on: [push, pull_request]

jobs:
  build:

    continue-on-error: ${{ matrix.experimental }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7, 3.8, 3.9, "3.10"]
        experimental: [false]
# See https://github.com/actions/toolkit/issues/399
#        include:
#          - os: ubuntu-latest
#            python-version: pypy3
#            experimental: true
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies (apt)
        run: |
          sudo apt install quilt
        if: "matrix.os == 'ubuntu-latest'"
      - name: Install dependencies (brew)
        run: |
          brew install quilt
        if: "matrix.os == 'macos-latest'"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U pip "setuptools>=60" setuptools-gettext
          pip install -U pip coverage codecov flake8 testtools paramiko fastbencode fastimport configobj cython testscenarios six docutils $TEST_REQUIRE sphinx sphinx_epytext launchpadlib patiencediff pyinotify git+https://github.com/dulwich/dulwich setuptools-rust pyyaml merge3 mypy
      - name: Build docs
        run: |
          make docs PYTHON=python
      - name: Build extensions
        run: |
          make extensions PYTHON=python
        if: "matrix.python-version != 'pypy3'"
      - name: Test suite run
        run: |
          ./brz selftest
        env:
          PYTHONHASHSEED: random
          BRZ_PLUGIN_PATH: -site:-user
          PYTHONPATH: .
      - name: Run mypy
        run: |
          python -m mypy breezy
